services:
  sqlserver:

    image: mcr.microsoft.com/mssql/server:2022-latest

    container_name: sqlserver

    hostname: sqlserver

    ports:

      - "1433:1433"

    environment:

      ACCEPT_EULA: "Y"

      MSSQL_SA_PASSWORD: "YourStrong@Password123"

      MSSQL_PID: "Developer"

      MSSQL_COLLATION: "Persian_100_CI_AS"

    volumes:

      - sqlserver_data:/var/opt/mssql

    restart: unless-stopped

    healthcheck:

      test: /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P "YourStrong@Password123" -C -Q "SELECT 1" || exit 1

      interval: 10s

      timeout: 5s

      retries: 10

      start_period: 30s



volumes:

  sqlserver_data: